@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 300 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 300 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 300 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13.3%;
    --foreground: 0 0% 98%;
    --card: 0 0% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 300 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 24%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 300 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 24%;
    --input: 0 0% 24%;
    --ring: 300 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
